@CHARSET "UTF-8";
/*
 * @file annotated_biblio.css
 * Base styles for annotated_biblio output.
 *
 */

.annotated-entry {
  margin-bottom: 1em;
}

.annotated-entry.even {
  background-color: #eee;
}

.annotated-biblio {
   margin-bottom: 1em;
}

.annotated-text {
  font-style: italic; 
  margin-left: 5em; 
}

div.annotated-entry div.meta {
  background-color: transparent;
}
